<div class = "description-container">
    <h2 class = "description-title">
        What's this?
    </h2>
    <p class = "description-text">
        This page generates a random image with a random location for Robdo.  
        Robdo might appear in a place that is really obvious or really hard to see.
        If you think Robdo is hiding in a good place, give the puzzle a like!  It
        will be more likely to appear in the curated Gallery page.
    </p>
</div>