<header>
    <a href="/" class = "header">
        <img id = "site-logo" src = "./resources/hessLogo.svg" />
        <h1 class="site-title">
            Where's Robdo?
            <h2 class = "subtitle">
                A CS290 Colaborative Project
            </h2>
        </h1>
    </a>
</header>