<nav class = "navbar">
    <ul class = "navlist">
        <li class = "navitem home"><a href="/">Home</a></li>
        <li class = "navitem gallery"><a href="/gallery">Gallery</a></li>
        <li class = "navitem about"><a href="/about">About</a></li>
    </ul>
</nav>