<div class = "puzzle-container">
    <!-- Turn this into Cool Puzzle Template -->
    <article class = "puzzle">
        <div class = "puzzle-title">
            Wheres Robdo in <strong>BRUH</strong>?
        </div>
        <div class = "img-container">
            <img class = "puzzle-photo" src = '/resources/backgroundImages/kyoto.jpg'>
        </div>
        <span class = "like like-icon">
            <i class="far fa-heart"></i>
        </span>
        <span class = "like like-number">
            420
        </span>
        <span class = "like next-button">
            Next >
        </span>
    </article>
</div>