<div class = "puzzle-container">
    <!-- Turn this into Cool Puzzle Template -->
    <article class = "puzzle">
        <div class = "puzzle-title">
            Wheres Robdo in <strong>BRUH</strong>?
        </div>
        <div class = "img-container">
            <img class = "puzzle-photo" src = "https://i.pinimg.com/736x/4d/8e/cc/4d8ecc6967b4a3d475be5c4d881c4d9c.jpg" />
        </div>
        <span class = "like like-icon">
            <i class="far fa-heart"></i>
        </span>
        <span class = "like like-number">
            420
        </span>
        <span class = "like next-button">
            Next >
        </span>
    </article>
</div>