    <!-- Turn this into Cool Puzzle Template -->
    <article class = "puzzle">
        <div class = "puzzle-title">
            Wheres Robdo in <strong>{{name}}</strong>?
        </div>
        <div class = "img-container">
            <img class = "puzzle-photo" src = "/resources/interim.png"}>
        </div>
        <span class = "home like like-icon">
            <i class="far fa-heart"></i>
        </span>
        <span class = "like like-number">
            {{likes}}
        </span>
        <span class = "like next-button">
            <i class="fas fa-puzzle-piece"></i>
            New Puzzle
        </span>
        <div id = "puzzlefile" class = "hidden">{{path}}</div>
    </article>