:root{
    --mint-green: #a9fdacff;
    --emerald: #4dd172ff;
    --zomp: #32a287ff;
    --honeydew: #f1ffe7ff;
    --eggplant: #6c464eff;
}

*{
    margin: 0px;
    padding: 0px;
}

.navbar {
    font-size: 24px;
    line-height: 20px;
}
  
.navlist {
    margin: 0 0 0 20px;
    padding: 0;
}
  
.navitem {
    display: inline-block;
}

.play-toggle{
    margin-top: 3%;
    background-color: rgb(139, 139, 245);
    margin-left: auto;  
    margin-right: auto;
    width: 1000px;
    padding: 200px;
}

.playlist{
    list-style-type: none;
}

.playitem{
    color: crimson;
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 2px 2px black;
}

.difficulty{
    color: white;
    margin: 15px;
    font-size: 50px;
    display: inline-block;
}

.timer{
    color: white;
    margin: 15px;
    font-size: 50px;
    display: inline-block;
}

.confirm:hover{
    color: crimson;
    transform: scale(1.10);
    cursor: pointer;
}

.easy:hover{
    color: crimson;
    transform: scale(1.10);
    cursor: pointer;
}

.medium:hover{
    color: crimson;
    transform: scale(1.10);
    cursor: pointer;
}

.hard:hover{
    color: crimson;
    transform: scale(1.10);
    cursor: pointer;
}