<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Where's Robdo?</title>
        <link rel="shortcut icon" type="image/jpg" href="favicon.png"/>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">

        <link rel="stylesheet" href="/style.css" media="screen">

        <script src="/index.js" charset="utf-8" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/merge-images@2.0.0/dist/index.umd.min.js"></script>

    </head>

    <body>
        
        {{> header}}

        <main class = "main-container">
        
            {{> navbar}}

            {{{body}}}

        </main>
    </body>
</html>
