<div class = "about-body">
    <h2 class = "description-title">
        What's this website?
    </h2>
    <p class = "description-text">
        This website is the final assignment and assessment of what we've learned in CS290 with 
        Professor Rob Hess at Oregon State University. Our website incorporates CSS 
        and Javascript, server-side handling and routing with express, and templatization of HTML 
        using Handlebars.
    </p>

    <h2 class = "description-title">
        Who are you people?
    </h2>
    <div class = "people-container">
        <article class = "person-card">
            <p class = "person-name">Dominick Tolomeo</p>
            <img class = "person-image" src = "/resources/peopleImages/dominickTolomeo.jpg">
            <p class = "person-description"> Dominick Tolomeo is second year undergraduate at Oregon State University majoring in 
            Computer Science with the systems option.  He is also taking pre-med classes to apply for med-school.  Outside of school he 
            likes to do autocross and kart racing, play video games, and snowboard.</p>
        </article>
        <article class = "person-card">
            <p class = "person-name">Carter MacNab</p>
            <img class = "person-image" src = "/resources/peopleImages/carterMacNab.jpg">
            <p class = "person-description"> Carter MacNabis a second-year sophomore at Oregon State University majoring in 
                computer science with a system degree focus. Currently he set to be working in the cybersecurity
                field with a summer job. Outside of school he enjoys hiking, computer building and PC gaming
                as some of his current hobies.</p>
        </article>
        <article class = "person-card">
            <p class = "person-name">Reece Kikuchi</p>
            <img class = "person-image" src = "/resources/peopleImages/reeceKikuchi.jpg">
            <p class = "person-description">
                Reece Kikuchi is a second-year sophomore at Oregon State University majoring in 
                computer science with an applied option in mobile and web application development. 
                Outside of school, he likes to practice the piano, play Animal Crossing, and 
                participate in student activism.
            </p>
        </article>
    </div>
</div>
