<div class = "puzzle-container">
    {{#each puzzles}}
        {{> galleryPuzzle}}
    {{/each}}
</div>

<div class = "description-container">
    <h2 class = "description-title">
        What's this?
    </h2>
    <p class = "description-text">
        This page curates the most liked puzzles by users. Click on one 
        of the puzzles to look for Robdo in that image. If you see a 
        good puzzle on the Home page, give it a like and it will appear 
        here! 
    </p>
</div>