:root{
    --deep-teal: #063835ff;
    --emerald: #4dd172ff;
    --background-grey: #f0f0f0ff;
    --text-grey: #808080ff;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    color: var(--text-grey);
    background-color: var(--background-grey);
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    background-color: var(--deep-teal);
    color: var(--emerald);
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 100vh;
}

.site-title {
    font-size: 56px;
    font-weight: bold;
    padding: 10px;
    margin: 0px
}

.subtitle {
    padding: 15px;
    margin: 0px 0px 0px 15px;
    align-self: flex-end;
    font-weight: 600;
    color: white;
}

#site-logo {
    height: 80px;
}

.navbar {
    max-width: 300px;
    background-color: white;
    font-size: 18px;
    min-height: 100vh;
}

.navlist {
    margin: 0 0 0 20px;
    padding: 0;
}

.navitem {
    font-size: 36px;
    display: inline-block;
    margin-top: 40px;
    margin-right: 75px;
}

.main-container {
    display: flex;
}

.puzzle-container {
    display: flex;
    flex-wrap: wrap;
}

.gallery.puzzle-container {
    display: flex;
    flex-wrap: wrap;
}

.gallery.puzzle {
    flex-wrap: wrap;
    margin: 20px;
    max-height: 225px;
}

.puzzle {
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
}

.gallery.puzzle-photo {
    height: 21vh;
    width: 36vh;
    border-radius: 4px;
}

.puzzle-title {
    text-align: center;
    color: black;
}

.puzzle-photo {
    /* height: 417px;
    width: 720px; */
    height: 52vh;
    width: 90vh;
    border-radius: 10px;
}

.like {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.next-button {
    float: right;
}

.description-container {
    max-width: 400px;
    align-self: right;
    text-align: right;
    margin-right: 50px;
    padding-top: 75px;
}

.description-text {
    padding-left: 75px;
}

.about-body {
    padding-left: 25px;
    padding-right: 25px;
}

.people-container {
    display: flex;
    flex-wrap: wrap;
}

.person-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    margin: 2vw;
    width: 20vw;
}

.person-name {
    text-align: center;
    font-weight: bold;
}

.person-image {
    max-width: 18vw;
    border-radius: 10px;
}

.person-description {
    text-align: center;
}

/*Confetti Via: https://forum.webflow.com/t/add-falling-confetti-with-css/103687*/

.confetti {
    width: 15px;
    height: 15px;
    background-color: #0e12e2;
    position: absolute;
    left: 20%;
    animation: confetti 5s ease-in-out -2s infinite;
    transform-origin: left top;
  }

  .confetti:nth-child(1) {
    background-color: #4ef2c9; left: 10%; animation-delay: 0;
  }
  .confetti:nth-child(2) {
    background-color: #d695de; left: 20%; animation-delay: -5s;
  }
  .confetti:nth-child(3) {
    background-color: #9eff91; left: 30%; animation-delay: -3s;
  }
  .confetti:nth-child(4) {
    background-color: #f2594e; left: 40%; animation-delay: -2.5s;
  }
  .confetti:nth-child(5) {
    background-color: #dedd95; left: 50%; animation-delay: -4s;
  }
  .confetti:nth-child(6) {
    background-color: #ff9a91; left: 60%; animation-delay: -6s;
  }
  .confetti:nth-child(7) {
    background-color: #f24ed7; left: 70%; animation-delay: -1.5s;
  }
  .confetti:nth-child(8) {
    background-color: #95c3de; left: 80%; animation-delay: -2s;
  }
  .confetti:nth-child(9) {
    background-color: #bb91ff; left: 90%; animation-delay: -3.5s;
  }
  .confetti:nth-child(10) {
    background-color: #69f24e; left: 100%; animation-delay: -2.5s;
  }

  @keyframes confetti {
    0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
    25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
    50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
    75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
    100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
  }

.success-button{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: var(--emerald);
}

.gallery.puzzle:hover{
    cursor: pointer;
    transform: scale(1.05);
}

li a {
    font-weight: 600;
    padding-left: 30px;
}

.next-button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.home.like-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: rgb(172, 5, 5);
}

li a:hover {
    color: var(--emerald);
}

li a.active {
    border-left: 5px solid var(--emerald);
    padding-left: 25px;
    /* border-radius: 5px; */
}

.hidden {
    display: none;
}
